<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Pattern -->
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%highlight(%clr(%5level))] [%8t] [%magenta(%X{logId})] %clr(%-40.40logger{39}){cyan} : %m%n%rEx"/>
    <appender name="THREAD_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Log 파일에 기록되는 로그 패턴 -->
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %5level %logger - %msg%n"/>

    <!-- 파일로그 Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./log/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Slack Appender -->
    <springProperty name="SLACK_WEBHOOK_URL" source="slack.webhook.url"/>
    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
        <webhookUri>${SLACK_WEBHOOK_URL}</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date %-5level - %msg%n</pattern>
        </layout>
        <username>Error-Logger</username>
        <iconEmoji>:large_red_circle:</iconEmoji>
        <colorCoding>true</colorCoding>
    </appender>

    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>

    <!-- local Profile에서의 로그 설정 -->
    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="THREAD_CONSOLE" />
            <appender-ref ref="ASYNC_SLACK" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <!-- test Profile에서의 로그 설정 -->
    <springProfile name="test">
        <root level="DEBUG">
            <appender-ref ref="THREAD_CONSOLE" />
            <appender-ref ref="ASYNC_SLACK" />
        </root>
    </springProfile>

</configuration>
